{% extends '_template/base.html.twig' %}

{% block body %}


<style>

.link {
	text-decoration: underline;
	font-weight: bold;
	color: blue;
}

@clickable {
	text-decoration: none;
	color: black;
}
</style>



<div class="most-popular">
    <div class="container">
        <div class="heading-section text-left mb-5">
            <h2 class="mb-4">BDE Informatique</h2>
            <p>Le bureau des étudiants de l’IUT du Havre, qu’est-ce que c’est?</p>
        </div>

		{% set cpt = 0 %}
		## equivalent article/rubrique
        <div class="row">


        	{% for rubrique in rubriques %}
			{% if (cpt < 3) %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
				<a href="rubrique_show.php?id={{ rubrique.id }}" style="text-decoration:none">
                <div class="card h-100 shadow-sm border-light bg-light">

                    <!-- Contenu de la carte -->
                    <div class="card-body">
                        <h5 class="card-title line-clamp">{{ rubrique.nom }}</h5>
                        <p class="card-text line-clamp" style="max-height: 80px;">{{ rubrique.description }}</p>
                    </div>

                    <!-- Footer de la carte -->
                    <div class="card-footer d-flex">
						<p class="link">Voir l'article</p>
                    </div>
                </div>
				</a>
            </div>

        	{% set cpt = cpt + 1 %}
			{% endif %}
        	{% endfor %}
        </div>
		
		
        {% set cpt = 0 %}
		
		## equivalent événement
		<div class="row">
			{% for evenement in evenements %}
			{% if (cpt < 3) %}


			
			<div class="col-lg-3 col-md-4 col-sm-6 mb-4 " >
				<a href="evenement_show.php?id={{ evenement.id }}" style="text-decoration:none; color:black">
				<div class="card h-100 shadow-sm border-light bg-light" >
					<!-- Contenu de la carte -->
					<div class="card-body">
						<h5 class="card-title">{{ evenement.nom }}</h5>
					</div>
					
					<!-- Image de l'événement -->
					<img src="assets/images/evenement/evenement{{ evenement.id }}.jpg"
							alt="{{ evenement.nom }}"
							class="card-img-top"
							style="object-fit: cover; height: 200px;">

					<!-- Footer de la carte -->
					<div class="card-footer d-flex">
						<a href="evenement_show.php?id={{ evenement.id }}" class="link">Voir l'événement</a>
					</div>

				</div>
				</a>
			</div>

        	{% set cpt = cpt + 1 %}
			{% endif %}
			{% endfor %}
		</div>
    </div>
</div>
{% endblock %}
